<h1>Importador de dados para Catracas</h1>

<%= link_to "Incluir novas unidades", nc_unidade_atualizar_path %>
<br/>

<%= link_to "Atualizar catraca", nc_pessoa_interna_inserir_path %>
<br/>

<%= link_to "Registro unico", registrounico_verparametros_path %>
<br />

<%= link_to "Limpar ", nc_pessoa_interna_limpar_path %>

<!--
< %= link_to "Atualizar pessoas", nc_pessoa_interna_atualizar_path %>
<br/>

< %= link_to "Ativar pessoas", nc_pessoa_interna_ativar_path %>
<br/>

< %= link_to "Desativar pessoas", nc_pessoa_interna_desativar_path %>
<br/>

<br />
-->