<h1> Instruções de uso dos dosímetros individual, padrão e de área </h1>
<p>1. Para atender às normas de proteção radiológica, o usuário não deve se expor à radiação sem portar um monitor individual.</p>
<p>2. Os monitores individuais fornecidos pelo Laboratório de Dosimetria do Instituto de Física são compostos de substâncias termoluminescentes e destinam-se apenas à monitoração de radiação gama ou X;</p>
<p>3. O responsável pela radioproteção do laboratório deve determinar um local seguro para o armazenamento tanto do dosímetro padrão como dos dosímetros individuais, pois esses precisam ficar distantes das fontes de radiação, protegidos de sol e da umidade, quando não estiverem em uso;</p>
<p>4. Após o término de sua rotina de trabalho, o usuário deve recolocar seu monitor no local determinado pelo responsável pela radioproteção do laboratório;</p>
<p>5. O dosímetro deve ser utilizado com o cuidado, devido a sua fragilidade, devendo-se evitar amassar ou dobrar seu suporte;</p>
<p>6. O lacre que se encontra sobre a presilha deve ser sempre rompido antes do uso, pois ele não será avaliado se for devolvido com o lacre íntegro;</p>
<p>7. O dosímetro de “tórax ou corpo inteiro” deve ser utilizado no tronco, do lado de fora do avental de chumbo, quando for o caso;</p>
<p>8. O dosímetro de “pulseira ou extremidade” deve ser usado no punho, evitando molhar ou contaminar seu suporte; na eventualidade dessa ocorrência, o NRp deve ser informado;</p>
<p>9. O dosímetro de área deve ser colocado num local protegido do sol e da umidade e deve ser fixado com cuidado para não danificar seu invólucro;</p>
<p>10. O NRp é responsável tanto pelo fornecimento como pela troca trimestral dos dosímetros. Esse serviço tem custo para o instituto. Por essa razão, no caso de atraso na entrega para troca, perda ou mau uso, o usuário deverá reembolsar o instituto pelo prejuízo (custo atual R$170,00/monitor).</p>

<%= link_to 'Li, e estou de acordo', new_monitoracao_path, class: "btn btn-default"  %>